.rankingContainer {
    height: 100%;
    padding-top: 2em;
}

.rankingContainer h1 {
    margin-bottom: 1em;
    font-size: 2em;
    color: var(--title);
}

.rankingContainer section > div {
    margin-bottom: 1.5em;
}

.rankingContainer h2 {
    display: inline;
    
    text-align: left;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--text);
    opacity: 0.5;
}

.rankingContainer article {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 5px;

    background-color: var(--white);
}

.rankingContainer article span{
    width: 150px;
}

.rankingContainer article span:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 96px;

    border-right: var(--background) solid 4px;
    font-size: 1.5em;
}

.rankingContainer article span:last-child {
    padding-left: 38px;
}

.rankingContainer div h2:first-child {
    margin-right: 35px;
}

.rankingContainer span,
.rankingContainer span > b {
    font-weight: 500;
}

.rankingContainer span > b {
    color: var(--blue)
}

.profileContainer {
    display: flex;  
    align-items: center;
    width: 30em !important;
}

.profileContainer > img {
    height: 4em;
    border-radius: 50%;
    margin: 0px 1.5rem;
}

.profileContainer strong {
    font-size: 1.25em;
    font-weight: 600;
    color: var(--title);
}

.profileContainer div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.profileContainer div p img {
    margin-right: 0.5rem;
}